{% extends 'block.html' %}

{% block content %}

    <main role='main'>
        <div class='container_neo'>
            <h1 class="story-title">Top Featured!</h1>

            <div class="stories">
                <div class="blog_summaries">
            <h2><a href="">Naruto or One Piece?</a></h2>
            <div class="meta">
              <p><small class="text_muted">Tuesday, 8 May, 2020 by</small></p>
              <p><a href="">King Praise</a></p>
            </div>
            <summary>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nesciunt reiciendis dolorem, eveniet, ad nostrum aut id architecto quas, est optio amet quod. Id natus, asperiores aliquam. Officiis, sint, tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aut, autem asperiores perferendis sint! Ab, cupiditate! Vero, quibusdam reprehenderit. Minus officiis veniam repellat alias excepturi, cum eius sint numquam aliquid.</p>
            </summary>
            <hr width="">
        </div>
        <div class="blog_summaries">
            <h2><a href="">Yes, You Probably Missed This Anime!</a></h2>
            <div class="meta">
              <p><small class="text_muted">Monday, 24 february, 2019 by</small></p>
              <p><a href="">Murata Yusuke</a></p>
            </div>
            <summary>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nesciunt reiciendis dolorem, eveniet, ad nostrum aut id architecto quas, est optio amet quod. Id natus, asperiores aliquam. Officiis, sint, tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aut, autem asperiores perferendis sint! Ab, cupiditate! Vero, quibusdam reprehenderit. Minus officiis veniam repellat alias excepturi, cum eius sint numquam aliquid.</p>
            </summary>
        </div>
        <div class="blog_summaries">
            <h2><a href="">By Design, One Piece Isn't A Contender</a></h2>
            <div class="meta">
              <p><small class="text_muted">Monday, 24 february, 2019 by</small></p>
              <p><a href="">Oda Eichiro</a></p>
            </div>
            <summary>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nostrum rerum animi natus beatae ex. Culpa blanditiis tempore amet alias placeat, obcaecati quaerat ullam, sunt est, odio aut veniam ratione.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nesciunt reiciendis dolorem, eveniet, ad nostrum aut id architecto quas, est optio amet quod. Id natus, asperiores aliquam. Officiis, sint, tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas aut, autem asperiores perferendis sint! Ab, cupiditate! Vero, quibusdam reprehenderit. Minus officiis veniam repellat alias excepturi, cum eius sint numquam aliquid.</p>
            </summary>
            <a href="">continue reading</a>
        </div>
        </div>
            </div>

    </main>
{% endblock %}
