{% extends 'block.html' %}

{% block content %}
    <div class="container_neo">
        <div class="confirmation">
            <div class="header">
                <h2>Succesful Registration</h2>
                <hr>
            </div>
            <p>You've successfully joined the ride but you'll still have to do one last thing. <br>
                Check your email for a confirmation link and let's gets this done with already *sigh*
            </p>
        </div>
    <hr>
    </div>
{% endblock %}
