{% extends 'block.html' %}

{% block content %}

    <div class="text-center new_body">
            <form class="sign-in">
                <div class="form-title">
                    <h1 class="heading">login</h1>
                    <hr>
                </div>
                <div>
                    {{ form.email.label(class='field-label') }}
                    {{ form.email(class='form-field',  placeholder="email") }}
                </div>
                <div>
                    {{ form.password.label(class='field-label') }}
                    {{ form.password(class='form-field',  placeholder="password") }}
                </div>
                <div>
                    {{ form.submit(class='buttn form-btn') }}
                </div>
                <!-- <button type="submit" class="buttn form-btn">sign in</button> -->
                <small>don't have an account? <a href="{{url_for('signup')}}" class="redirect">signup</a></small>
            </form>
            <div class="floatbg">
                <div class="anime-chara-naruto">
                    <img src="static\media\floatpngs\narutoflp.png" alt="naruto_staring_up">

                </div>
            </div>
        </div>

{% endblock %}
