{% extends 'block.html' %}

{% block content %}

<main role="main" id="mayne">
    <div class="menu-bar">
<!--         <form class=" search">
            <input type="text" class="form-field" placeholder="search" aria-label='search'>
        </form> -->
        <input class="back-change" type="image" src="static\media\icons\infv.png" onclick="document.getElementById('mayne').style.background = '#fff'">
    </div>
        <div class="container_neo">

            <div class="playlist">
                <div class="row">

                    <div class="column">
                        <div class="plate">
                            <div>
                                <img class="plate_cover"  src="static\media\playlist media\vin_sag.jpg" alt="">
                            </div>
                            <div class="plate_body">
                                <p class="plate_summary">if you're  looking for interesting  action anime, this playlist will work your mind like you need</p>
                                <div class="arranger">
                                    <p class="plate_genre">Genre: <em>Action</em></p>
                                    <small class="text-muted"><em>9 titles</em></small>
                                </div>

                                <div class="arranger">
                                    <div class="plate_buttons">
                                        <button type="button" class="buttn">view</button>
                                        <button type="button" class="buttn">edit</button>
                                    </div>
                                    <div class="interaction">
                                        <!-- <a href=""><img src="static\media\icons\inad.png" alt=""></a> -->
                                        <input class="add" name="add_button" type="image" src="static\media\icons\inad.png" onclick="this.src='static/media/icons/add.png'">
                                        <small>23</small>
                                        <input class="fav" name="fav_button" type="image" src="static\media\icons\infv.png" onclick="this.src='static/media/icons/fvd.png'">
                                        <!-- <a href=""><img src="static\media\icons\infv.png" alt=""></a> -->
                                        <small>12</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <div class="plate">
                            <div>
                                <img class="plate_cover"  src="static\media\playlist media\berserk.png" alt="">
                            </div>
                            <div class="plate_body">
                                <p class="plate_summary">90s anime to hit you with immense nostalgia. There's no escaping the past, aibou!</p>
                                <p class="plate_genre">Genre: <em>Action</em></p>
                                <div class="arranger">
                                    <div class="plate_buttons">
                                        <button type="button" class="buttn">view</button>
                                        <!-- <button type="button" class="buttn">edit</button> -->
                                    </div>

                                    <small class="text-muted"><em>9 titles</em></small>
                                    <div class="interaction">
                                        <a href=""><img src="static\media\icons\inad.png" alt=""></a>
                                        <small>2k</small>
                                        <a href=""><img src="static\media\icons\infv.png" alt=""></a>
                                        <small>9k</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <div class="plate">
                            <div>
                                <img class="plate_cover"  src="static\media\playlist media\bleach.jpg" alt="">
                            </div>
                            <div class="plate_body">
                                <p class="plate_summary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a.</p>
                                <div class="arranger">
                                    <p class="plate_genre">Genre: <em>Shonen, Drama</em></p>
                                    <p class="owner"><a href="" >by Newmannn</a></p>
                                </div>
                                <div class="arranger">
                                    <div class="plate_buttons">
                                        <button type="button" class="buttn">view</button>
                                        <!-- <button type="button" class="buttn">edit</button> -->
                                    </div>

                                    <small class="text-muted"><em>12 titles</em></small>
                                    <div class="interaction">
                                        <a href=""><img src="static\media\icons\inad.png" alt=""></a>
                                        <small>23</small>
                                        <a href=""><img src="static\media\icons\infv.png" alt=""></a>
                                        <small>12</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <div class="plate">
                            <div>
                                <img class="plate_cover"  src="static\media\playlist media\haikyuu.png" alt="">
                            </div>
                            <div class="plate_body">
                                <p class="plate_summary">Sports anime that'll make you roll over and over and wish you knew volleyball or swimming...</p>
                                <div class="arranger">
                                    <p class="plate_genre">Genre: <em>Sports, Comedy</em></p>
                                    <p class="owner"><a href="">by AltKing</a></p>
                                </div>
                                <div class="arranger">
                                    <div class="plate_buttons">
                                        <button type="button" class="buttn">view</button>
                                        <!-- <button type="button" class="buttn">edit</button> -->
                                    </div>

                                    <small class="text-muted"><em>9 titles</em></small>
                                    <div class="interaction">
                                        <a href=""><img src="static\media\icons\inad.png" alt=""></a>
                                        <small>23</small>
                                        <a href=""><img src="static\media\icons\infv.png" alt=""></a>
                                        <small>12</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <div class="plate">
                            <div>
                                <img class="plate_cover"  src="static\media\playlist media\gin.jpg" alt="">
                            </div>
                            <div class="plate_body">
                                <p class="plate_summary">if you're  looking for interesting  action anime, this playlist will work your mind like you need</p>
                                <div class="arranger">
                                    <p class="plate_genre">Genre: <em>Comedy, Action</em></p>
                                    <p class="owner"><a href="">by AltKing</a></p>
                                </div>
                                <div class="arranger">
                                    <div class="plate_buttons">
                                        <button type="button" class="buttn">view</button>
                                        <!-- <button type="button" class="buttn">edit</button> -->
                                    </div>

                                    <small class="text-muted"><em>9 titles</em></small>
                                    <div class="interaction">
                                        <a href=""><img src="static\media\icons\inad.png" alt=""></a>
                                        <small>23</small>
                                        <a href=""><img src="static\media\icons\infv.png" alt=""></a>
                                        <small>12</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </main>

{% endblock %}
