{% extends 'block.html' %}

{% block content %}

        <div class="text-center new_body">
            <form class="sign-up" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-title">
                    <h1 class="heading">signup</h1>
                    <hr>
                </div>
                <div>
                    {{ form.name(class='form-field',  placeholder="name") }}
                </div>
                <div>
                    {{ form.username(class='form-field',  placeholder="username") }}
                </div>
                <div>
                    {{ form.email(class='form-field',  placeholder="email") }}
                </div>
                <div>
                    {{ form.password(class='form-field',  placeholder="password") }}
                </div>
                <div>
                    {{ form.confirm_pw(class='form-field',  placeholder="confirm password") }}
                </div>
                <div>
                    {{ form.submit(class='buttn form-btn') }}
                </div>
                <small>already got an account? <a href="{{url_for('login')}}" class="redirect">sign in</a></small>

            </form>
            <div class="floatbg">
                <div class="anime-chara-opm">
                    <img src="static\media\floatpngs\opm.png" alt="saitama_saying_hi" class="mb-52">

                </div>
            </div>
        </div>

{% endblock %}
