{% extends 'block.html' %}

{% block content %}

        <div class="text-center new_body">
            <form class="sign-up" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-title">
                    <h1 class="heading">signup</h1>
                    <hr>
                </div>
                <div>
                    {{ form.first_name(class='form-field-split',  placeholder="first name") }}
                    {{ form.last_name(class='form-field-split',  placeholder="last name") }}
                </div>
                <div>
                    {% if form.username.errors %}
                        {{ form.username(class='form-field invalid',  placeholder="last name") }}
                        {% for error in form.username.errors %}
                            <!-- <div class="error-msg">{{ error }}</span> -->
                        {% endfor %}
                    {% else %}
                        {{ form.username(class='form-field',  placeholder="username") }}
                    {% endif %}
                </div>
                <div>
                    {% if form.email.errors %}
                        {{ form.email(class='form-field invalid',  placeholder="email") }}
                        {% for error in form.email.errors %}
                            <div class="error-msg">{{ error }}</div>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class='form-field',  placeholder="email") }}
                    {% endif %}
                </div>
                <div>
                     {% if form.password.errors %}
                        {{ form.password(class='form-field invalid',  placeholder="password") }}
                        {% for error in form.password.errors %}
                            <div class="error-msg">{{ error }}</div>
                        {% endfor %}
                     {% else %}
                        {{ form.password(class='form-field',  placeholder="password") }}
                    {% endif %}
                </div>
                <div>
                    {% if form.confirm.errors %}
                        {{ form.confirm(class='form-field invalid',  placeholder="confirm password") }}
                        {% for error in form.confirm.errors %}
                            <!-- <div class="error-msg">{{ error }}</div> -->
                        {% endfor %}
                     {% else %}
                    {{ form.confirm(class='form-field',  placeholder="confirm password") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.submit(class='buttn form-btn') }}
                </div>
                <small>already got an account? <a href="{{url_for('login')}}" class="redirect">sign in</a></small>

            </form>
            <div class="floatbg">
                <div class="anime-chara-opm">
                    <img src="static\media\floatpngs\opm.png" alt="saitama_saying_hi" class="mb-52">

                </div>
            </div>
        </div>

{% endblock %}
