<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Submission-Anime 101</title>
    <link rel="stylesheet" href="static\css\anime.css">
</head>
<body>
    <nav>
        <label for="" class="site_name"><a href="index.html">anime101</a></label>
        <ul>
            <li><a href="blog.html">blog</a></li>
            <li><a href="fact-board.html">fact board</a></li>
            <li><a href="playlists.html">playlists</a></li>
            <li><a href="submissions.html" class="active">submit</a></li>
        </ul>
    </nav>
</body>
<footer>
    <div class="container_neo">
        <div class="footer-collapse unhiglight">
            <small>anime101 by King Praise</small>
            <!-- <small>made for the anime community by the anime community</small> -->
            <small>2019 design</small></p>
            <div>
                <small>sign-up for newsletters and updates</small>
                <input type="text" placeholder="email" class="footinput">
            </div>
        </div>
    </div>
</footer>
</html>
