html{
    height: 100%;
}

body{
    margin: 0;
    line-height: 1.4em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
small{
    font-size: 10;
}

footer{
    background: #333;
    color: white;
    padding:0 25px;
    /*margin-top: auto;*/
    margin-top: 0;
}

fieldset{
    border: none;S
}


@font-face{
    font-family: 'SF Pro Display';
    src: url(../fonts/SFProDisplay.ttf);
}

@font-face{
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face{
    font-family: 'HelveticaNeue m';
    src: url(../fonts/HelveticaNeueMedium.ttf);
}

@font-face{
    font-family: 'montserat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: 'montserat-sb';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

.container{
    padding: 0 150px;
}

.reduc{
    transition: all. 5s;
}

.reduc img{
    display: none;
    transition: all .3s;
}

.landing nav a legend{
    font-size: 25;
    font-family: 'SF Pro Display';
}

.landing nav{
    text-align: right;
    margin-bottom: 140px;
}

.landing{
    background: url(../media/mm.png) fixed no-repeat;
    background-size: cover;
    color: white;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.landing summary{
    width: 35%;
    /*margin-right: 30px;*/
    text-align: center;
    text-shadow: 1px 3px 4px #333;
    font-family: 'SF Pro Display';
}

.landing #lefty{
    float: left;
}

.landing #righty{
    float:right;
}

.landing #mid{
    margin: 5px 325px;
    float: right;
    width: 40%;
}

.landing #mid img{
    height: 179;
    width: 138;
    transition: all .5s;
}

.landing summary legend{
    font-size: 15;
    font-family: 'montserat-sb';
    letter-spacing: 3;
    margin-bottom: 2px;
}

.landing summary p, .redirect p{
    font-size: 13;
    letter-spacing: 0.7;
    margin-top: 0;
}

.redirect{
    margin-top: 20px;
    font-family: 'SF Pro Display';
    margin-bottom: 40px;
}
.redirect #links{
    padding-left: 415px;
}

#links a{
    padding-left: 0 10px;
}

h1{
    font-family: 'HelveticaNeue'
}

.login{
    width: 450px;
    padding: 20px;
    position: absolute;
    top:48%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.login legend, .signup legend{
    font-size: 28;
    text-align: center;
    margin-bottom: 0;
}

.login p small, .signup p small{
    font-size: 13;
}

.login fieldset .formfield, .signup fieldset .formfield{
    border-radius: 14px;
    border-width: 2px;
    border-color: black;
    background-color: transparent;
    color: #333;
    font-family: 'HelveticaNeue m';
    margin: 0 15% 29px 15%;
    /*transform: translate(-50%, -50%);*/
    padding: 9px 15px;
    width: 70%;
    transition: all .1s;

}

.signup{
    width: 450px;
    padding: 20px;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

/*.login .formfield:focus, .login .formfield:hover{
    width: 100%;
}*/

.formsubmit{
    margin: 10px 40%;
    padding: 8px 19px;
    border-radius: 10px;
    border: transparent;
    background-color: #212026;
    color: white;
    font-family: 'HelveticaNeue m'
}

.formsubmit:hover{
    background-color: #333;

}

.floatbg{
    background-image: url(../media/dd.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#naruto_float{
    padding-top: 140px;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
    transition: all .5s;
}

#opm_float{
    padding-top: 360px;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
    transition: all .5s;
    float: right;
    margin-bottom: 52px;
}








@media (max-width: 952px){
    .landing nav a legend{
        font-size: 20;
    }
}

@media (max-width: 858px){
    .landing nav{
        margin-bottom: 20px;
    }

    .reduc img{
        display: block;
        height: 179;
        width: 138;
        margin: 0 34%;
    }
    .container{
        padding: 0 15px;
    }

    .landing{
        display: block;
    }

    #summaries .up{
        margin-top: 0;
    }

    #mid img{
        display: none;
    }

    .landing summary{
        width: 90%;
        margin: 40px auto;
    }

    .landing #lefty{
        float: none;
    }

    .landing #righty{
        float: none;
    }

    .landing #mid{
        float: none;
        margin: 40px auto;
        width: inherit;
    }

    .redirect #links{
        padding: 0 25%;
    }

    .login fieldset .formfield{
        color: black;
        text-align: center;
    }

    #naruto_float{
        padding-top: 420px;
    }

    #naruto_float img{
        height: 240;
        width: 150;
    }

    .login .redirect #links img, .signup .redirect #links img{
        padding-left: 0;
        margin: 0;
        display: inline;
    }

    #opm_float{
        padding-top: 590px;
    }

    #opm_float img{
        height: 218.51;
        width:  246.96;
    }
}
